@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --bgColor: #333; 
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: #fd4;
}

body {
    background-color: var(--bgColor) !important;
    font-family: "Source Code Pro", monospace !important;
    color: var(--textPrimary) !important;
    font-size: 1.4rem;
}

div.word {
    display: inline-block;
    font-family: "Source Code Pro", monospace !important;
    margin: 0 5px !important;
}

div#test {
    line-height: 40px !important;
    height: 120px !important;
    overflow: hidden !important;
    position: relative;
}

#words {
    filter: blur(5px);
}

#test:focus #words {
    filter: blur(0);
}

#focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 40px;
}

#test:focus #focus-error {
    display: none;
}


#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#buttons {
    text-align: right;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#cursor {
    width: 2px;
    height: 1.6rem;
    background: var(--primaryColor);
    position: fixed;
    top: 185px;
    left: 405px;
    animation: blink .6s infinite;
}
